<div (click)="clickEvent($event, 1)">
    <p>Testo</p>
    <button (click)="clickEvent($event, 2)">Cliccami</button>
</div>
<br>
<p>{{testo}}</p>
<button (click)="clickNew(inputTwoWayRef.value)">mostra one way value</button>
<div>
    <label> one way binding verso l'utente [value]="testo"</label>
    <input [value]="testo" #inputPropertyRef>
    <p>Valore inputPropertyRef {{inputPropertyRef.value}}</p>
</div>
<div>
    <label> one way binding verso il codice (input)="testo = $event.target.value"</label>
    <input (input)="inputEvent($event)" #inputEventRef>
    <p>Valore inputEventRef: {{inputEventRef.value}}</p>
</div>
<!-- i due esempi sotto sono equivalenti -->
<div>
    <label> two way binding "a mano"</label>
    <input (input)="testo = $event.target.value" [value]="testo" #inputTwoWayRef>
    <p>Valore inputTwoWayRef: {{inputTwoWayRef}}</p>
</div>
<div>
    <label> two way binding con ngModel</label>
    <input [(ngModel)]="testo">
</div>