<form #heroForm="ngForm" (ngSubmit)="aggiungiEroe(); heroForm.reset();">

    {{heroForm.form.value | json}}

    <div>

        <label for="name">Name</label>

        <input type="text" id="name" required required [(ngModel)]="model.name" name="name" #nameControl="ngModel">
        <p *ngIf="nameControl.invalid && nameControl.dirty">Campo nome obbligatorio!</p>
    </div>

    <div>

        <label for="power">Hero Power</label>

        <select id="power" required required [(ngModel)]="model.power" name="power" #powerControl="ngModel">

            <option value="vuoto"></option>
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>

      </select>
        <p *ngIf="powerControl.invalid && powerControl.dirty">Campo power obbligatorio!</p>
    </div>

    <button type="submit" [disabled]="!heroForm.form.valid">Submit</button>

    <p *ngFor="let hero of heroList">{{hero.name}} - {{hero.power}}</p>

</form>